<div class="infos-container">
    <div *ngIf="!modification">
        <h1 class="info-label">Age</h1>
        <h2 class="info-value">{{showAge()}}</h2>
        <br/>
        <hr/>
        <h1 class="info-label">Family</h1>
        <h2 class="info-value">{{showFamily()}}</h2>
        <br/>
        <hr/>
        <h1 class="info-label">Race</h1>
        <h2 class="info-value">{{showRace()}}</h2>
        <br/>
        <hr/>
        <h1 class="info-label">Food</h1>
        <h2 class="info-value">{{showFood()}}</h2>
    </div>

    <form [formGroup]="pangolinInfosForm" (ngSubmit)="modifyInfos()" #creationForm="ngForm" novalidate *ngIf="modification">
        <div class="form-row centered-container">
            <div class="form-group col-md-6 centered-container">
                <label class="modify-label">Age</label>
                <input class="form-control" type="text" formControlName="age">
            </div>
        </div>
        <div class="form-row centered-container">
            <div class="form-group col-md-6 centered-container">
                <label class="modify-label">Family</label>
                <input class="form-control" type="text" formControlName="family">
            </div>
        </div>
        <div class="form-row centered-container">
            <div class="form-group col-md-6 centered-container">
                <label class="modify-label">Race</label>
                <input class="form-control" type="text" formControlName="race">
            </div>
        </div>
        <div class="form-row centered-container">
            <div class="form-group col-md-6 centered-container">
                <label class="modify-label">Food</label>
                <input class="form-control" type="text" formControlName="food">
            </div>
        </div>
        <div class="form-group center-button-container">
            <button type="submit" class="btn btn-success" [disabled]="!creationForm.form.valid">Confirm</button>
        </div>
        <div class="form-group center-button-container" (click)="backToInfos()">
            <button type="button" class="btn btn-danger" (click)="modify()">Deny</button>
        </div>
    </form>
    <div class="form-group center-button-container" *ngIf="!modification">
        <button type="button" class="btn btn-warning" (click)="modify()">Modify</button>
    </div>
</div>

