div.friends-users-container {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
}

h1.friends-page-header {
    font-size: 2rem;
    color: rgb(241, 168, 33);
    text-shadow: green 3px 3px;
    z-index: 3;
    padding-top: 9vh;
}

div.users-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

div.friends-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

ul.users-list {
    list-style: none;
    width: 100%;
}

li.users-list-element {
    width: 100%;
    color: white;
    font-size: 1.5rem;
}

ul.friends-list {
    list-style: none;
    width: 100%;
}

li.friends-list-element {
    width: 100%;
    color: white;
    font-size: 1.5rem;
}

div.user-block {
    color: white;
    font-size: 1.5rem;
}