div.center-button-container {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 3%;
}

div.signup-container {
    padding-top: 30vh;
}

h1.signup-header {
    font-size: 3rem;
    color: whitesmoke;
}

div.form-row {
    width: 55%;
    margin: 0 auto;
}