<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['home']">
        <h1>Pangolin</h1>
    </a>
  
    <div class="collapse navbar-collapse justify-content-end" [ngClass]="{ 'show': navBarStatus }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'home'">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'infos'">Infos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'friends'">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'login'">LogIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'signup'">SignUp</a>
        </li>
      </ul>
    </div>
  </nav>