<div class="navigation-container">

  <nav class="navigation-bar">
  
    <div class="navbar-content">
      <ul class="navbar-nav mr-auto horizontal-menu">
        <li class="nav-item nav-padding">
          <a class="navigation-link" [routerLink]="'home'">Home</a>
        </li>
        <li class="nav-item nav-padding" *ngIf="isOnline()">
            <a class="navigation-link" [routerLink]="'infos'">Infos</a>
        </li>
        <li class="nav-item nav-padding" *ngIf="isOnline()">
            <a class="navigation-link" [routerLink]="'friends'">Friends</a>
        </li>
        <li class="nav-item nav-padding-top" *ngIf="!isOnline()">
            <a class="navigation-link" [routerLink]="'login'">LogIn</a>
        </li>
        <li class="nav-item nav-padding-top" *ngIf="!isOnline()">
            <a class="navigation-link" [routerLink]="'signup'">SignUp</a>
        </li>
        <li class="nav-item nav-padding-top" *ngIf="isOnline()">
          <button type="button" class="btn btn-danger" (click)="logOut()">Logout</button>
      </li>
      </ul>
    </div>
  </nav>
</div>